* {
    /* background-color: inherit; */
}

body {
    /* overflow: hidden; */
    display: flex;
    min-height: 100vh;
}

.main2 {
    display: flex;
    flex-flow: column;
    flex: 1;
    background-color: rgb(166, 209, 166);
}

.main2 .button {
    font-size: 2em;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image-block {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    overflow: auto;
}

.links {
    max-width: 50%;
    display: flex;
    justify-content: space-around;
}

.links a {
    border-left: 1px solid black;
}

.links a:first-child {
    border-left: none;
}

.links a ~ a {
    padding-left: 10px;
}

.main2 .image {
    /* display: inline-flex; */
}

.main2 .image-block .image-text {
    display: flex;
}

.main2 .main {
    display: flex;
    flex-grow: 3;
    margin: auto;
    background-repeat: no-repeat;
    background-size: auto;
    /* height: auto; */
    /* width: auto; */
    max-width: 58%;
    /* max-height: 90%; */
}

/* .main2 img.image.main::after {
    display: block;
    content: 'klek';
} */

.footer {
    display: block;
    border: 10px transparent solid;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
}