html, body {
    height: 100%;
}
img {
    height: 100%;
    width: 100%;
}
.table, .row, .column {
    display: flex;
    background-color: aqua;
    border: 0.5px solid black;
}
.row {
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color:#fff8dc;
}
.column {
    height: inherit;
    flex-grow: 0.5;
    flex-direction: column;
    background-color:#f4a460;
}
.bordered {
    border: 3px solid black;
}
.table-header {
    display: flex;
    justify-content: center;
}
.main-image {
    object-fit: contain;
    height: 80%;
}
.list-content {
    display: flex;
    flex-direction: column;
}
.text-content {
    padding: 15px;
}
.text-content:hover{
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
    color: aqua;
}
.list-content > h5 {
    align-self: center;
    justify-content: center;
}
h3.row {
    display: flex;
    min-height: 10vh;
    margin: 0px;
    flex-basis: 0.01px;
}
ul {
    margin-right: 12px;
    text-align: left;
}