.pos-3d {
  -webkit-animation-name: invert;
          animation-name: invert;
}

.sun-3d {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.solar-system-3d {
  -webkit-transform: rotateX(75deg);
          transform: rotateX(75deg);
}

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
            transform: rotateZ(-360deg);
  }
}

@-webkit-keyframes suborbit {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
            transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(-360deg);
            transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@keyframes suborbit {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg);
            transform: rotateX(90deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(-360deg);
            transform: rotateX(90deg) rotateZ(-360deg);
  }
}

@-webkit-keyframes invert {
  0% {
    -webkit-transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes invert {
  0% {
    -webkit-transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
            transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}

@-webkit-keyframes invert-2d {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes invert-2d {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes shadow-mercury {
  0% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  25% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  50% {
    -webkit-box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
            box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50.01% {
    -webkit-box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
            box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  75% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  100% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

@keyframes shadow-mercury {
  0% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  25% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  50% {
    -webkit-box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
            box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50.01% {
    -webkit-box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
            box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  75% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  100% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
}

@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
            box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.5% {
    -webkit-box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
            box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
            box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.5% {
    -webkit-box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
            box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@-webkit-keyframes shadow-jupiter {
  0% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  25% {
    -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  50% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  75% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  75.01% {
    -webkit-box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  100% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

@keyframes shadow-jupiter {
  0% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  25% {
    -webkit-box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  50% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  75% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  75.01% {
    -webkit-box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  100% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
}

@-webkit-keyframes shadow-saturn {
  0% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
            box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.01% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-saturn {
  0% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
            box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.01% {
    -webkit-box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

#uranus .planet {
  -webkit-animation-name: shadow-uranus;
          animation-name: shadow-uranus;
}

@-webkit-keyframes shadow-uranus {
  0% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.01% {
    -webkit-box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-uranus {
  0% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.01% {
    -webkit-box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@-webkit-keyframes shadow-neptune {
  0% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.01% {
    -webkit-box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  35.01% {
    -webkit-box-shadow: inset -20px -8px 20px rgba(0, 0, 0, 0.5);
            box-shadow: inset -20px -8px 20px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

@keyframes shadow-neptune {
  0% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
  25% {
    -webkit-box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  25.01% {
    -webkit-box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
            box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  35.01% {
    -webkit-box-shadow: inset -20px -8px 20px rgba(0, 0, 0, 0.5);
            box-shadow: inset -20px -8px 20px rgba(0, 0, 0, 0.5);
    /* BOTTOM */
  }
  50% {
    -webkit-box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */
  }
  75% {
    -webkit-box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
            box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */
  }
  100% {
    -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
            box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */
  }
}

.mercury-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset 10px 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 10px 0 2px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow;
          animation-name: shadow;
}

.venus-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow;
          animation-name: shadow;
}

.moon-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-animation-name: shadow;
          animation-name: shadow;
}

.moon-orbit-3d {
  -webkit-animation-name: suborbit;
          animation-name: suborbit;
}

.earth-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow;
          animation-name: shadow;
}

.mars-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-animation-name: shadow;
          animation-name: shadow;
}

.jupiter-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow-jupiter;
          animation-name: shadow-jupiter;
}

.saturn-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow-saturn;
          animation-name: shadow-saturn;
}

.uranus-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow-uranus;
          animation-name: shadow-uranus;
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
}

.neptune-3d {
  -webkit-transform: rotateX(0deg) rotateZ(0deg) !important;
          transform: rotateX(0deg) rotateZ(0deg) !important;
  -webkit-box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
  -webkit-animation-name: shadow-neptune;
          animation-name: shadow-neptune;
}
/*# sourceMappingURL=mixins.css.map */