@import 'variables.scss';

@mixin planet-properties {
  position: absolute;
  background-color: #202020;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: rotateX(0deg) rotateZ(-20deg);
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@mixin rotate-background-3d {
  transform: rotateX(0deg) rotateZ(0deg) !important; 
}

.pos-3d {
  animation-name: invert;
}

.sun-3d {
  transform: rotateX(-90deg);
}

.solar-system-3d {
  transform: rotateX(75deg);
}

@keyframes orbit {
  0% {
    transform: rotateZ(0deg); 
  }

  100% {
    transform: rotateZ(-360deg); 
  } 
}

@keyframes suborbit {
  0% {
    transform: rotateX(90deg) rotateZ(0deg); 
  }

  100% {
    transform: rotateX(90deg) rotateZ(-360deg); 
  } 
}

@keyframes invert {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg); 
  }

  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg); 
  } 
}

@keyframes invert-2d {
  0% {
    transform: rotate(-360deg); 
  }

  100% {
    transform: rotate(0deg); 
  } 
}

@keyframes shadow-mercury {
  0% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  }

  25% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  }

  50% {
    box-shadow: inset 13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  50.01% {
    box-shadow: inset -13px -5px 4px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  75% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  }

  100% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  } 
}

@keyframes shadow {
  0% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  }

  25% {
    box-shadow: inset 22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  25.5% {
    box-shadow: inset -22px -20px 10px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  50% {
    box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  }

  75% {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  }

  100% {
    box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  } 
}

@keyframes shadow-jupiter {
  0% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  }

  25% {
    box-shadow: inset 0 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  }

  50% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  }

  75% {
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  75.01% {
    box-shadow: inset 94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  100% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  } 
}

@keyframes shadow-saturn {
  0% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  }

  25% {
    box-shadow: inset 80px -30px 50px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  25.01% {
    box-shadow: inset -94px -30px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  50% {
    box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  }

  75% {
    box-shadow: inset -2px 3px 2px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  }

  100% {
    box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  } 
}

  #uranus .planet {
    animation-name: shadow-uranus; }
  
@keyframes shadow-uranus {
  0% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  }

  25% {
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  25.01% {
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  50% {
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  }

  75% {
    box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  }

  100% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  } 
}

@keyframes shadow-neptune {
  0% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  }

  25% {
    box-shadow: inset 40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  25.01% {
    box-shadow: inset -40px -15px 40px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }

  35.01% {
    box-shadow: inset -20px -8px 20px rgba(0, 0, 0, 0.5);
    /* BOTTOM */ 
  }
  50% {
    box-shadow: inset -8px 0 5px rgba(0, 0, 0, 0.5);
    /* RIGHT */ 
  }

  75% {
    box-shadow: inset 0px 0 2px rgba(0, 0, 0, 0.5);
    /* TOP */ 
  }

  100% {
    box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
    /* LEFT */ 
  } 
}


.mercury-3d {
  @include rotate-background-3d;
  box-shadow: inset 10px 0 2px rgba(0, 0, 0, 0.5);
  animation-name: shadow;
}

.venus-3d {
  @include rotate-background-3d;
  box-shadow: inset 4px 0 2px rgba(0, 0, 0, 0.5);
  animation-name: shadow;
}

.moon-3d {
  @include rotate-background-3d;
  animation-name: shadow;
}

.moon-orbit-3d {
  animation-name: suborbit;
}

.earth-3d {
  @include rotate-background-3d;
  box-shadow: inset -4px 0 2px rgba(0, 0, 0, 0.5);
  animation-name: shadow;
}

.mars-3d {
  @include rotate-background-3d;
  animation-name: shadow;
}

.jupiter-3d {
  @include rotate-background-3d;
  box-shadow: inset -16px 0 5px rgba(0, 0, 0, 0.5);
  animation-name: shadow-jupiter;
}

.saturn-3d {
  @include rotate-background-3d;
  box-shadow: inset 16px 0 5px rgba(0, 0, 0, 0.5);
  animation-name: shadow-saturn;
}

.uranus-3d {
  @include rotate-background-3d;
  box-shadow: inset 8px 0 5px rgba(0, 0, 0, 0.5);
  animation-name: shadow-uranus;
  animation-duration: $orbit-animation-duration*9;
}

.neptune-3d {
  @include rotate-background-3d;
  box-shadow: inset 12px 0 5px rgba(0, 0, 0, 0.5);
  animation-name: shadow-neptune;
}